h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  }

  .food-container, .activity-container {
    align-items: center;
  }

