.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ff00aa;
    margin: 0;
    width: 100%;
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: white;
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: 24rem;
    color: var(--offWhite);
    list-style-type: none;
  }

  .navbar-link:hover {
    color: var(--primary);
  }